.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding:2px 16px;
    transition: 0.3s;
    border-radius: 5px;
    background-color:white;
    color:black;
    top:40%;
    position: absolute;
    }
#card1{
    left:10%;
}
#card2{
    left:37%;
}
#card3{
    left: 65%;
}

.title {
    color: grey;
    font-size: 18px;
}
img{
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
    height: 200px;
    width: 200px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6);
}
.container{
    padding: 4px 20px;
}
a:hover{
    cursor: pointer;
    opacity: .7;
    color:black;
}
i{
    color:black;
}
.fullBackground {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
}